body{
    margin: 1px;
    font-family: Michroma;
    font-weight: normal;
    color: #414138;
    height: 96.5vh;
    /*background-color: rgb(243, 244, 233);*/
    background-color: #b5b58c;

}
header{
    display: none;
}
main{
    display: flex;
    justify-content: center;
    width: 99.5vw;
    height: 100%;
}
.main_container{
    display: flex;
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    justify-items: space-around;
    filter: blur(0px);
    transition: filter 0.25s ease;
}
.main_container.blured{
    filter: blur(2px);
}
.box_left{
    width: 30%;
}
.box_center{
    z-index: 2;
    display: flex;
    gap: 1%;
    /*padding: 10px;*/
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_image{
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: fit-content;
    margin-bottom: 0;
    height: 100%;
}
img{
    width: 360px;
    height: fit-content;

}
img:hover{
    cursor: pointer;
}
.container_data{
    z-index: -1;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 80%;
    margin-left: 3%;
}   
.filter{
    background-color: #414138;
    height: 100px;
    width: 30px;
}
.title{
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.modal{
    z-index: 3;
    position: absolute;
    /*border: 1px solid #414138;*/
    width: 95.5%;
    height: 95%;
    margin-top: 1px;
    margin-right: 1px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    flex-direction: column;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.454);
    background-color: #9e7b3d80;
    border: 1px solid #4141388e;
    transition: opacity 0.2s ease;
}
.modal.in{
    opacity: 1;
}
.container_close{
    /*padding: 3px;*/
    display: flex;
    justify-content: end;
    background-color: #31603e00;
}
button{
    margin-top: 2px;
    border-radius: 0;
    background-color: #31603e00;
    border: none;
}
button:hover{
    cursor: pointer;
    color: blue;
}
.modal_work{
    display: flex;
    min-height: 50%;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 2px;
    animation: fadeIn 0.1s ease-in;
    /*border: 2px solid red;*/
}
.modal_about{
    animation: fadeIn 0.1s ease-in;
}
.block{
    /*border: 2px solid orange;*/
    width: 100%;
}
.block>ul>li>a{
    font-size: 12px;
}
.line{
    background-color: #414138;
    height: 1px;
}

h1{
    margin: 0px;
    font-size: 30px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 550;
    margin-bottom:0px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0;
}
.work:active{
    color: blue;
}
.work:hover{
    color: blue;
    cursor: pointer;
}
.about:active{
    color: blue;
}
.about:hover{
    color: blue;
    cursor: pointer;
}
.location{
    margin-top: 2px;
    font-size: 10px;
    margin-bottom: 30px;
}

nav{
    z-index: 1;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 0px;
}
u{
    text-decoration: none;
    margin-right: 7px;
}
.work_sel{
    display: none;
}
.about_sel{
    display: none;
}
.social{
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    gap:1%;   
    font-size: 10px;
    width: 100%;   
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
a{
    color: #414138;
    text-decoration: none;
}
a:hover{
    color: blue;
}

footer{
    display: flex;
    justify-content: center;
}
.footer_image{
    height: 20px;
    width: 60px;
}
#volume{
    display: none;
    border-top: 200px;
}
#volume {
    -webkit-appearance: none;
    height: 5px;
    background:white;
    outline: none;
    border-radius: 20px;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7px;
    height: 13px;
    border-radius: 20px;
    background:#414138;
    cursor: pointer;
  }





@media only screen and (max-width: 600px) {
    body{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        height: 90vh;
    }
    main{
        width: 100%;
    }
    .main_container{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .box{
    flex-direction: column;
    justify-content: start;
    }
    .container_image{
        min-width: 150px;
        height: 40%;
    }
    img{
    width: 210px;
    }
    .modal{
        width: 85%;
    }
    .modal_work{
        flex-direction: column;
        gap: 5%;
    }
    button{
        color: #414138;
    }
    .container_data{
        justify-content: start;
        width: 250px;
        margin-top: -40px;
        padding-left: 58px;
        height: 30%;
        min-height: 100px;
    }
    .filter{
        height: 20px;
        width: 20px;
    }
    nav{
        margin-top: 5px;
    }
    .social{
        font-size: 10px;
    }
    main{
        width: 75vw;
    }
    ul{
       font-size: 15px; 
    }

    
  }